html{
    overflow-x: hidden;
}

body{
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}

.two{
    color: blueviolet;
}

.Flexible-container{

    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    
}

.half-width img{
    width: 80%;
    height: 75%;
    margin-top: 5%;
    margin-left: 25%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient( blueviolet,skyblue);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.Top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Expo-Item{
    box-shadow: 10px 10px 25px darkslategray;
    border-radius: 10px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%S;
    padding: 20px;
}

.Expo{

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}

#web-expo{
    border-left: 5px solid;
    border-image: linear-gradient(blue,black);
    border-image-slice: 1;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(blue,black);
    border-image-slice: 1;

}

footer p{
    text-align: center;
}